NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
KORAPAY_SECRET_KEY=
KORAPAY_PUBLIC_KEY=
KORAPAY_ENCRYPTION_KEY=
RESEND_API_KEY=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_EMAIL=
